<div class="bbr_maidInfo">
  <div class="bbr_wrapper">
    <div class="bbr_imgmd">
        <img [src]="userImgPath" alt="Maid name" />
    </div>
    <div class="bbr_infocont">
      <h2>Hament Aggarwal</h2>
      <div class="bbr_info">
        <p><span>Rating</span>: <strong>4.5</strong> </p>
        <p>
          <span>Phone</span>: <strong>9650193556</strong>
        </p>
        <p>
          <span>Age</span>: <strong>28</strong>
        </p>
      </div>
      <div class="bbr_btns">
        <button type="button" class="bbr_cancel" (click)="SearchAgain()">Cancel</button>
      </div>
    </div>

  </div>
</div>